@charset "utf-8";

/* 새글 스킨 (latest) */
.lat {position:relative;margin-bottom:20px;background:#fff}
.lat .lat_title {display:block;line-height:45px;font-size:1.2em;color:#253dbe}
.lat .lat_title a {position:relative;color:#000;display:inline-block}

.lat ul {padding:10px 0}
.lat li {position:relative;line-height:18px;border-bottom:1px solid #e5ecee;margin-bottom:10px}
.lat li a {line-height:24px;font-weight:bold;font-size:1.2em;line-height:20px;vertical-align:middle}
.lat li a:hover {color:#3a8afd}
.lat li .fa-heart {color:#ff0000}
.lat li .fa-lock {display:inline-block;line-height:14px;width:16px;font-size:0.833em;color:#4f818c;background:#cbe3e8;text-align:center;border-radius:2px;font-size:12px;border:1px solid #cbe3e8;vertical-align:middle}
.lat li .new_icon {display:inline-block;width:16px;line-height:16px;font-size:0.833em;color:#23db79;background:#b9ffda;text-align:center;border-radius:2px;margin-left:2px;font-weight:bold;vertical-align:middle}
.lat li .hot_icon {display:inline-block;width:16px;line-height:16px;font-size:0.833em;color:#ff0000;background:#ffb9b9;text-align:center;border-radius:2px;vertical-align:middle}
.lat li .fa-caret-right {color:#bbb}
.lat li .fa-download {display:inline-block;width:16px;line-height:16px;font-size:0.833em;color:#daae37;background:#ffefb9;text-align:center;border-radius:2px;vertical-align:middle}
.lat li .fa-link {display:inline-block;width:16px;line-height:16px;font-size:0.833em;color:#b451fd;background:#edd3fd;text-align:center;border-radius:2px;vertical-align:middle}

.lat .profile_img img{border-radius:50%}

.lt_info {padding:10px 0}
.lt_info .lt_nick {}
.lt_info .lt_date {color:#888}

.lat .empty_li {line-height:145px;color:#666;text-align:center;padding:0}
.lat .empty_li:before {background:none;padding:0}

.lat .lt_cmt {background:#e9eff5;color:#3a8afd;font-size:11px;height:16px;line-height:16px;padding:0 5px;border-radius:3px;vertical-align:middle}
.lat .lt_more {position:absolute;top:11px;right:0;display:block;width:40px;line-height:25px;color:#3a8afd;border-radius:3px;text-align:center}
.lat .lt_more:hover {color:#777}

.lank:nth-of-type(4) .lank_num {
   color: #e2ac00;
   background: url(img/lank_1.png) no-repeat center;
   background-size: 100%;
}

.lank:nth-of-type(5) .lank_num {
   color: #6d6e71;
   background: url(img/lank_2.png) no-repeat center;
   background-size: 100%;
}

.lank:nth-of-type(6) .lank_num {
   color: #754c29;
   background: url(img/lank_3.png) no-repeat center;
   background-size: 100%;
}

.week_lank {
   margin: 30px 0 0;
   position: relative;
}

.week_lank h3 {
   font-size: 20px;
   font-weight: 700;
}

.week_lank h3 span {
   position: relative;
   top: -1px;
   font-size: 16px;
}

.week_lank .lank_slider {
   margin: 15px 0 0;
   position: relative;
   overflow: hidden;
}

.week_lank .lank_slider .lank {
   padding: 12px;
   width: 294px;
   position: relative;
   box-sizing: border-box;
   border: 1px solid #ddd;
   overflow: hidden;
   margin: 0 11px;
}

.week_lank .lank_slider .lank_top{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.week_lank .lank_slider .lank_num{
   width: 40px;
   height: 36px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   font-size: 14px;
   font-weight: 700;
   color: #2f3a5e;
   background: url(img/lank_4.png) no-repeat center;
   background-size: 100%;
}

.week_lank .lank_slider .ca{
   font-size: 14px;
   font-weight: 400;
   color: #1acb86;
}

.week_lank .lank_slider .lank_subject {
   min-height: 70px;
   box-sizing: border-box;
   font-size: 20px;
   line-height: 24px;
   color: #333;
   font-weight: 700;
   word-break:break-all;
}

.week_lank .lank_slider .lank_con {
   min-height: 40px;
   margin: 10px 0 15px 0;
   font-size: 14px;
   line-height: 18px;
   color: #666;
   word-break:break-all;
}

.week_lank .lank_slider .lank_bottom {
   width: 100%;
   font-size: 14px;
   color: #888;
   font-weight: 300;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.week_lank .lank_slider .lank_bottom .cnt {
   display: inline-block;
   padding: 3px 7px;
   background: #ff4172;
   border-radius: 3px;
   color: #fff;
   font-size: 13px;
}


.week_lank .lank_slider_btn {
   position: absolute;
   top: 0;
   right: 0;
   display: flex;
}

.week_lank .lank_slider_btn .prev {
   cursor: pointer;
   width: 30px;
   height: 30px;
   border-radius: 100%;
   border: 1px solid #ddd;
   background: #fff;
   font-size: 15px;
   color: #333;
   text-align: center;
   line-height: 30px;
   margin-right: 5px;
}

.week_lank .lank_slider_btn .next {
   cursor: pointer;
   width: 30px;
   height: 30px;
   border-radius: 100%;
   border: 1px solid #ddd;
   background: #fff;
   font-size: 15px;
   color: #333;
   text-align: center;
   line-height: 30px;
}