@charset "utf-8";

/* 최근게시물 스킨 (new) */
#new_sch {background:#f7f7f7;padding:30px;text-align:center;margin:0 0 10px}
#new_sch legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#new_sch select {border:1px solid #d0d3db;width:175px;height:45px;padding:0 5px;border-radius:3px}
#new_sch .frm_input {border:1px solid #d0d3db;width:300px;height:45px;border-radius:0;border-radius:3px}
#new_sch .sch_wr {position:relative;display:inline-block}
#new_sch .btn_submit {padding:0 10px;height:45px;width:88px;font-size:1.083em;font-weight:bold;color:#fff;background:#434a54}
#new_sch p {padding:10px 0 0;font-size:0.95em;text-align:center;letter-spacing:-0.1em}

#fnewlist .profile_img img {border-radius:50%}
#fnewlist .td_group a {background:#edfbde;color:#8cc152;padding:3px 4px;border-radius:5px;font-weight:normal}

.admin_new_btn {float:right;margin-bottom:10px}

.selec_chk {position:absolute;top:0;left:0;width:0;height:0;opacity:0;outline:0;z-index:-1;overflow:hidden}
.chk_box input[type="checkbox"] + label {position:relative;padding-left:20px;color:#676e70}
.chk_box input[type="checkbox"] + label:hover {color:#2172f8}
.chk_box input[type="checkbox"] + label span {position:absolute;top:2px;left:0;width:15px;height:15px;display:block;margin:0;background:#fff;border:1px solid #d0d4df;border-radius:3px}
.chk_box input[type="checkbox"]:checked + label {color:#000}
.chk_box input[type="checkbox"]:checked + label span {background:url(./img/chk.png) no-repeat 50% 50% #3a8afd;border-color:#1471f6;border-radius:3px}

#mypage{
    margin: 0 auto!important;
    padding: 130px 0 60px;
    width: 920px;
    min-height: calc(100vh - 75px);
}

/* ----------------------------------------------마이페이지 네임카드---------------------------------------------- */
#mypage .mp_top h3{
   font-size: 20px;
   font-weight: 700;
}

#mypage .mp_top ul{
   margin-top: 15px;
   border-top: 1px solid #dcdcdc;
   border-bottom: 1px solid #dcdcdc;
   padding: 10px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.mp_top li{
   display: flex;
   height: 110px;
}

.mp_top .nc_img{
   width: 110px;
   height: 110px;
   overflow: hidden;
}

.mp_top .nc_img img{
   width: 100%;
}

.mp_top .title{
   margin-left: 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.mp_top .title h2{
   font-size: 20px;
   font-weight: 400;
   color: #121212;
   margin-bottom: 5px;
}

.mp_top .title h1{
   font-size: 30px;
   font-weight: 600;
}

.mp_top .count{
   display: flex;
   margin-top: 20px;
   font-size: 16px;
   font-weight: 400;
}

.mp_top .count p{
   color: #666666;
}

.mp_top .count p:first-child::after{
   content: "ㅣ";
   width: 20px;
   color: #666666;
}

.mp_top .count span{
   font-weight: 600;
}

.mp_top .button{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}

.mp_top .button div a{
   font-size: 14px;
   display: block;
   font-weight: 600;
   width: 100px;
   height: 36px;
   display: flex;
   align-items: center;
   justify-content: center;

}

.mp_top .logout_bt{
   color: #888888;
   border: 1px solid #ccc;
}

.mp_top .btn_cancel{
   margin: 3px 0;
   color: #888888;
   border: 1px solid #ccc;
}

.mp_top .ed_profile_bt{
   color: #1acb86;
   border: 1px solid #1acb86;
}

/* ----------------------------------------------마이페이지 메뉴---------------------------------------------- */
.mp_menu{
    margin-top: 40px;
    width: 100%;
    display: flex;
}

.mp_menu li a.menu_on{
    border: 1px solid #1acb86;
    color: #1acb86;
    font-weight: 600;
}

.mp_menu li a{
    display: block;
    padding: 8px 14px;
    background: #fff;
    border: 1px solid #ddd;
    margin-right: 6px;
    font-size: 16px;
    color: #333;
}

.mp_bt_wrap .bo_fx {
    margin: 10px 0 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.mp_bt_wrap .bo_fx {
    margin-left: auto;
}

.mp_bt_wrap .bo_fx ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mp_bt_wrap .btn_bo_user li {
    float: left;
    margin-left: 5px;
}

.btn_b04 {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 110px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    background: #1acb86;
    font-weight: 500;
    color: #fff;
    border-radius: 3px;
}

#mypage .pg_wrap{
    margin: 20px 0;
}

#mypage .bo_cate_top{
    zoom: 1;
    display: flex;
    margin: 30px 0 5px;
}

#mypage .bo_cate_top .bo_count {
    font-size: 16px;
    color: #333;
}

/* ----------------------------------------------마이페이지 게시판 리스트 공통---------------------------------------------- */
#mypage .bt_wrap{
    margin: 10px 0 0;
}

#mypage .bt_wrap .bo_fx {
   display: flex;
   width: 100%;
}

#mypage .btn_bo_user li {
    float: left;
    margin-left: 5px;
}

#mypage .btn_bo_adm {
   margin-left: auto;
}

.td_num2{
    width: 40px;
}

.td_board,
.td_hide{
    width: 65px;
}

.td_ok {
   width: 65px;
}

.td_category{
    min-width: 75px;
    width: auto;
}

.td_name{
    min-width: 60px;
    width: auto;
}

.td_name2{
    min-width: 55px;
    width: auto;
}

/* ----------------------------------------------리스트페이지---------------------------------------------- */
/* mp1 */
.td_board a {
    font-size: 12px;
    display: inline-block;
    background: #ecf6ff;
    padding: 6px 8px;
}

.td_board span {
    font-size: 12px;
    display: inline-block;
    background: #ecf6ff;
    padding:3px 4px;
}
.mp-1 .td_subject{
    min-width: 320px;
    width: auto;
}

.td_subject {
   text-align: left !important;
   padding: 0 10px !important;
}

.mp-1 .td_subject .new_co_icon{
    display: inline-block;
    width: 14px;
    line-height: 14px;
    border-radius: 100%;
    font-size: 10px;
    background: #3a8afd;
    color:#e9eff5 ;
    text-align: center;
    margin-left: 2px;
    font-weight: bold;
    vertical-align: middle;
}

.mp-1 .td_subject .cnt_cmt {
    background: #e9eff5;
    color: #3a8afd;
    font-size: 11px;
    height: 16px;
    line-height: 16px;
    padding: 0 5px;
    border-radius: 3px;
    vertical-align: middle;
}

.mp-1 .td_subject .new_icon {
    display: inline-block;
    width: 14px;
    line-height: 14px;
    border-radius: 100%;
    font-size: 10px;
    color: #fff;
    background: #f2c614;
    text-align: center;
    margin-left: 2px;
    font-weight: bold;
    vertical-align: middle;
}

.mp-1 .td_subject_2,
.mp-1 .td_comment{
    text-align: left;
    padding: 0 10px;
    min-width: 200px;
}

.mp-1 .td_subject_2 .new_co_icon{
    display: inline-block;
    width: 14px;
    line-height: 14px;
    border-radius: 100%;
    font-size: 10px;
    background: #3a8afd;
    color:#e9eff5 ;
    text-align: center;
    margin-left: 2px;
    font-weight: bold;
    vertical-align: middle;
}

.mp-1 .td_subject_2 .cnt_cmt {
    background: #e9eff5;
    color: #3a8afd;
    font-size: 11px;
    height: 16px;
    line-height: 16px;
    padding: 0 5px;
    border-radius: 3px;
    vertical-align: middle;
}

.mp-1 .td_subject_2 .new_icon {
    display: inline-block;
    width: 14px;
    line-height: 14px;
    border-radius: 100%;
    font-size: 10px;
    color: #fff;
    background: #f2c614;
    text-align: center;
    margin-left: 2px;
    font-weight: bold;
    vertical-align: middle;
}

.mp-1 .td_date{
    width: 80px;
}

.mp-1 .td_num{
    width: 60px;
}

.mp-1 .qnaIco {
    font-size: 12px;
    display: inline-block;
    border-radius: 3px;
    background: #999;
    padding: 6px 8px;
    color: #fff;
    text-align: center;
    min-width: 47px;
}

.mp-1 .qnaIco2 {
    background: #ff4172;
}

.mp-1 .qnaIco3 {
    background: none;
    border: 1px solid rgba(255,65,114,0.5);
    color: #888;
}

.mp-1 .qnaIco4 {
    background: #fff6b3;
    color: #121212;
}

.mp-1 .qnaIco5 {
    background: #eeeff8;
    color: #888;
}

/* mp2 */
.mp-2 .td_board select{
    font-size: 12px;
    display: inline-block;
    border-radius: 3px;
    padding: 6px 8px;
    text-align: left;
    min-width: 50px;
    color: #333;
    border: 1px solid #ddd;
    background: url(/images/sch_select.png) 90% center no-repeat #fff;
}

.mp-2 .td_subject .new_icon{
    display: inline-block;
    width: 14px;
    line-height: 14px;
    border-radius: 100%;
    font-size: 10px;
    color: #fff;
    background: #f2c614;
    text-align: center;
    margin-left: 2px;
    font-weight: bold;
    vertical-align: middle;
}

.mp-2 .td_media{
    min-width: 155px !important;
}

.mp-2 .td_contact{
    width: 120px;
}

.mp-2 .td_spending{
    width: 130px;
}

.mp-2 .td_name{
    min-width: 60px;
    width: auto;
}

.mp-2 .td_name2{
    min-width: 65px;
    width: auto;
}

.mp-2 .td_date{
    width: 80px;
}

.mp-2 .qnaIco {
    font-size: 12px;
    display: inline-block;
    border-radius: 3px;
    background: #999;
    padding: 6px 8px;
    color: #fff;
    text-align: center;
}

.mp-2 .qnaIco3 {
    background: none;
    border: 1px solid rgba(255,65,114,0.5);
    color: #888;
}

.mp-2 .qnaIco2 {
    background: #ff4172;
}

.mp-2 .qnaIco4 {
    background: #888;
}

/* 리스트공통 */
#bo_list .td_board {vertical-align: middle; width:120px;text-align:center}
#bo_list .td_chk {vertical-align: middle; width:50px;text-align:center}
#bo_list .td_category {vertical-align: middle; width:100px;text-align:center}
#bo_list .td_date {vertical-align: middle; width:100px;text-align:center}
#bo_list .td_datetime {vertical-align: middle; width:100px;text-align:center}
#bo_list .td_name {vertical-align: middle;text-align:center}
#bo_list .td_num {vertical-align: middle; width:100px;text-align:center}
#bo_list .td_num2 {vertical-align: middle; width:70px;text-align:center}
#bo_list .td_subject {vertical-align: middle; text-align: left; padding: 0 10px;}

.bo_cate_top {
   display: flex;
   margin: 30px 0 0;
}

.bo_cate_top .bo_count {
   font-size: 16px;
   color: #333;
}

.td_subject img {margin:0 3px; position: relative; top:2px;}
.td_subject i {
   position: relative;
   width: 15px;
   height: 15px;
   background: #e0e0e0;
   font-size: 10px;
   line-height: 15px;
   text-align: center;
   top: -1px;
   left: -1px;
   border-radius: 100%;
   color: #999;
}

input[type='radio'],
input[type='radio']:checked {
   appearance: none;
   width: 15px;
   height: 15px;
   border-radius: 100%;
   position: relative;
   top: 3px;
   margin-right: 2px;
}

input[type='radio'] {
   background: #fff;
   border: 1px solid #ccc;
}

input[type='radio']:checked {
   border: 1px solid #349af1;
   background: url(../../../images/sel-cate.png) 50% 50% no-repeat;
}

.bo_fx {
    margin-bottom:5px;
    zoom:1
}

.bo_fx:after {
    display:block;
    visibility:hidden;
    clear:both;
    content:""
}

.bo_fx ul {
    margin:0;
    padding:0;
    list-style:none
}

#bo_list_total {
    float:left;
    padding-top:5px
}

.btn_bo_user {
    margin:0;
    padding:0;
    list-style:none
}

.btn_bo_user li {
    margin-left:5px
}

.btn_bo_adm {
    float:left
}

.btn_bo_adm li {
    float:left;
    margin-right:5px
}

.btn_bo_adm input {
    color: #000;
    font-size: 1em;
    display: inline-block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 3px;
    border: 1px solid #3d3d3d;
    padding: .30em 1em;
    text-decoration: none;
    background-color: #fff;
    cursor: pointer;
}

.td_num strong {
    color:#000
}

/* 글제목줄 분류스타일 */
.bo_current {
    color:#e8180c
}

#bo_sch legend {
    position:absolute;
    margin:0;
    padding:0;
    font-size:0;
    line-height:0;
    text-indent:-9999em;
    overflow:hidden
}

/* ----------------------------------------------뷰페이지---------------------------------------------- */
#bo_v {
    background-color: #fff;
}

#bo_v_table {
    display:none
}

#bo_v_title {
    padding: 10px 15px;
    text-align: left;
    font-size: 1.4em;
    border-bottom: 1px solid #979797;
    font-weight: 600;
}

#bo_v_file {
    background-color: #fff !important;
    padding: 0 !important;
}

#bo_v_file h2 {
    position:absolute;
    font-size:0;
    line-height:0;
    overflow:hidden
}

#bo_v_file ul {
    margin:0;
    padding:0;
    list-style:none
}

#bo_v_file a {
    display:inline-block;
    font-size: 16px !important;
    color:#121212 !important;
    word-wrap:break-word
}

#bo_v_file a:focus, #bo_v_file a:hover, #bo_v_file a:active {
    text-decoration:none
}

#bo_v_file img {
    float:left;
    margin:0 10px 0 0
}

.bo_v_file_cnt {
    display:inline-block;
    margin:0 0 3px 16px
}

#bo_v_link {
    text-align: left !important;
    margin-top: 0 !important;
}

#bo_v_link a {
    font-size: 16px !important;
    display:inline-block;
    color:#121212 !important;
    word-wrap:break-word
}

#bo_v_link a:focus, #bo_v_link a:hover, #bo_v_link a:active {
    text-decoration:none
}

#bo_v_top:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_top h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_top ul {margin:0;padding:0;list-style:none}

.bo_v_nb {float:left}
.bo_v_nb li {float:left;margin-right:5px}
.bo_v_com {float:right}
.bo_v_com li {float:left;margin-left:5px}

#bo_v_atc {margin:20px 0 0;min-height:200px;height:auto !important;height:200px; }
#bo_v_atc_title {position:absolute;font-size:0;line-height:0;overflow:hidden}

#bo_v_img {width:100%;overflow:hidden;zoom:1}
#bo_v_img:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_img img {max-width:100%;height:auto}

#bo_v_con {margin-bottom:30px;width:100%;line-height:1.7em;word-break:break-all;overflow:hidden}
#bo_v_con a {color:#000;text-decoration:underline}
#bo_v_con img {max-width:100%;height:auto}

#bo_v_act {margin-bottom:30px;text-align:center}
#bo_v_act .bo_v_act_gng {position:relative}
#bo_v_act a {margin-right:5px;vertical-align:middle}
#bo_v_act strong {color:#ff3061}
#bo_v_act_good, #bo_v_act_nogood {display:none;position:absolute;top:30px;left:0;padding:10px 0;width:165px;background:#ff3061;color:#fff;text-align:center}

#mp4_v_table {
    margin-top: 30px;
    width: 100%;
    border-top: 2px solid #222;
    border-spacing: 0px;
}

#mp4_v_table tr{
    border-bottom: 1px solid #ccc;
}

#mp4_v_table th{
    width: 150px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 15px;
    background-color:#f8f8f8;
    border-bottom: 1px solid #ccc;
}

#mp4_v_table td{
    font-size: 16px;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

#mp4_v_bot {zoom:1;padding: 10px 0; }
#mp4_v_bot:after {display:block;visibility:hidden;clear:both;content:""}
#mp4_v_bot h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#mp4_v_bot ul {margin:0;padding:0;list-style:none}

.btn_view {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 70px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    background: #f5464a;
    color: #fff;
    border-radius: 3px;
}

#mp5_v_table {
    margin-top: 30px;
    width: 100%;
    border-top: 2px solid #222;
    border-spacing: 0px;
}

#mp5_v_table tr{
    border-bottom: 1px solid #ccc;
}

#mp5_v_table th{
    width: 150px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 15px;
    background-color:#f8f8f8;
    border-bottom: 1px solid #ccc;
}

#mp5_v_table td{
    font-size: 16px;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

#mp5_v_bot {zoom:1;padding: 10px 0; }
#mp5_v_bot:after {display:block;visibility:hidden;clear:both;content:""}
#mp5_v_bot h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#mp5_v_bot ul {margin:0;padding:0;list-style:none}

/* ----------------------------------------------컨텐츠 더보기 리스트 ---------------------------------------------- */
#more_cnt .bt_wrap{
    margin: 10px 0 0;
}

#more_cnt .bt_wrap .bo_fx {
   display: flex;
   width: 100%;
}

#more_cnt .btn_bo_user li {
    float: left;
    margin-left: 5px;
}

#more_cnt .btn_bo_adm {
    margin-left: auto;
 }

/* 컨텐츠 더보기 페이지 */
.content_nc{
    padding-top: 40px;
}

.content_nc h3{
    font-size: 20px;
    font-weight: 700;
}

.content_nc ul{
    margin-top: 15px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_nc li{
    display: flex;
    height: 75px;
}

.content_nc .nc_img{
    width: 75px;
    height: 75px;
    overflow: hidden;
}

.content_nc .nc_img img{
    width: 100%;
}

.content_nc .title{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content_nc .title h2{
    font-size: 20px;
    font-weight: 400;
    color: #121212;
}

.content_nc .title h3{
    font-size: 30px;
    font-weight: 600;
}

.content_nc .button div{
    width: 78px;
    height: 75px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    margin-left: 8px;
    font-size: 13px;
    font-weight: 500; 
}

.content_nc .button div a{
    padding: 17px 0;
    display: block;
}

.content_nc .button div i{
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

.content_nc .button .bookmark i {
    border: none;
    background: none;
}

.content_nc .button i.bookmark_af {
    color: #ffd016;
}
 
 