/* 레퍼런스 최신/인기 */
.main_refer{
    width: 100%;
    background-color: #fff;
  }
  
  .main_refer .main_tab_con{
    width: 100%;
    padding: 10px;
  }
  
  .main_refer .con_box.active{
    display: block !important;
  }
  
  .main_refer .con_box{
    display: none;
  }
  
  .main_refer .con_box ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .main_refer .con_box li{
    width: 32%;
    position: relative;
    overflow: hidden;
    border: 1px solid #ededed;
  }
  
  .main_refer .con_box li .cate{
    position: absolute;
    top: 0;
    right:0;
    color: #fff;
    font-size: 10px;
    background-color: rgba(0,0,0,.4);
    padding: 2px 4px;
  }
  
  .main_refer .con_box img{
    width: 100%;
    height: 100%;
  }
  
  .main_refer .main_tab_con .subject{
    color: #121212;
    font-size: 16px;
  }
  